@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before{
    content: 'NIKE';
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after{
    content: 'SHOES';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0; 
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after{
    opacity: 0.04;
}

.container .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .name{
    top: 40px;
    opacity: 1;
}

.container .box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .buy{
    bottom: 30px;
    opacity: 1;
}

.container .box .circle{
    position: absolute;
    top: 25%;
    left: 16%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,-50%);
}



